*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Open Sans', sans-serif;
}
.navigation{
    background-color: rgb(9, 6, 1);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1.2rem;
}
.navigation h1{
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
}
.navigation h1:hover{
    color: #ee5007;
}
.menu{
    display: flex;
    gap: 3rem;
}
.menu li{
    list-style: none;
}
.menu li a{
    text-decoration: none;
    font-size: 1rem;
    font-weight: 400;
    color: white;
}
.menu li a:hover{
    color: #ee5007;
}
button{
    background-color: #ee5007;
    color: white;
    padding: 0.8rem;
    border-radius: 2rem;
    border: none;
    font-weight: 500;
    font-size: 1rem;
}
.hero{
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),  url("https://images.unsplash.com/photo-1506157786151-b8491531f063?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8bXVzaWMlMjBmZXN0aXZhbHxlbnwwfHwwfHx8MA%3D%3D");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    
}
.hero .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    gap: 1rem;
}
.hero .content h1{
    font-size: 5rem;
    color: white;
}
.hero .content p{
    font-size: 1.5rem;
    color: white;
}
.info{
    display: flex;
    justify-content: space-between;
    padding: 3rem;
    margin-top: 5rem;
}
span{
    font-size: 1.5rem;
    font-weight: 800;
    color: white;
}
.fa-solid , .fa-brands{
    color: #ee5007;
    font-size: 1.5rem;
}
