*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;

}
body, html {
     margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
.up{
    background-color: #f8cb2e;
    padding: 10px;
    border-radius: 4px;
    top: 0;
}
.top, p{
   font-weight: 600;
    margin-left: 200px;
    font-size: 15px;
    top: 0;
}
.hero{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(12,3,51,0.3),rgba(12,3,51,0.3));
    position: relative;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    top: 0;
}
nav{
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px 0;
  display:flex;
  justify-content: center;  
  gap: 10px;                
  z-index: 999;
  margin-top: 0px;
  background: rgba(0, 0, 0, 0.8);
}
nav ul li {
    list-style: none;
    display: inline-block;
    margin-left: 40px;
    margin-right: 30px;
    align-items: center;

}
nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 14px;
    transition: 0.6s;
}
nav button li a:hover{
    color: #ee5007;
    
}
nav li a:hover{
    color: #ee5007;
}
nav h1{
    cursor: pointer;
    
}
button{
    background-color: #ee5007;
    color: white;
    padding: 0.5rem;
    border-radius: 4rem;
    border: none;
    font-weight: 500;
    font-size: 10px;
    margin-left: 15px;
    cursor: pointer;
}
button:hover{
    color: #c64105;
}
.content{
    text-align: center;     
    margin-left: 0px;
    margin-bottom: 10px;
    align-items: center;
    text-align: center;
    margin-top: 400px;
}
.content h4 h1 {
    margin-bottom: 200px;
}
h1{
    color: white;
}
.content h4 {
    font-size: 12px;
    color: white;
    align-items: center;
    text-align: center;
}
.content h1{
    font-size: 60px;
    color: white;
    font-weight: bold;
    margin-top: 20px;
    align-items: center;
    text-align: center;
}
.under i {
    color: white;
    margin-top: 30px;
}
.back-video{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;    
  z-index: -1; 
}
.button{
    margin-top: 20px;
    cursor: pointer;
    font-size: 12px;
}
.under {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  padding: 15px 30px;
  flex-wrap: wrap; 
  gap: 15px;
  margin-top: 150px;
}

.under .info1 {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  gap: 8px;
  margin-right: 200px;
}
.under .info {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  gap: 8px;
  text-align: center;
}

.under .info i {
  color: #ff4500;
  font-size: 18px;
  margin-bottom: 25px;
}
.under .info1 i {
  color: #ff4500;
  font-size: 18px;
  margin-bottom: 25px;
}

.under .social {
  display: flex;
  align-items: center;
  gap: 10px; 
}

.under .social span {
  font-weight: 600;
  margin-right: 8px;
  line-height: 1;
  margin-right: 30px;
}

.social{
    margin-left: 80px;
}
.under .social a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: #ff4500;
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  transition: 0.3s;
  line-height: 1;
  
  margin-bottom: 5px;
  
}
.under .social a:hover {
  background: #ffe100;
}


/* about */
* body {
    margin: 0;
    font-family: Arial, sans-serif;
} 

.about-container {
    background-image: url("https://templatemo.com/templates/templatemo_583_festava_live/images/edward-unsplash-blur.jpg");
    background-size: cover;
    background-position: center;
    padding: 5rem 2rem;
} 

.about-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    align-items: center;
    gap: 2rem;
    color: white;
    max-width: 1100px;
    margin: auto;
}

.about-images img {
    width: 100%;
    border-radius: 1.5rem;
    display: block;
    box-shadow: 0 4px 15px rgba(0,0,0,0.3);
}
.about-images .blog {
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
}

.about-images .blog .infor {
    background-color: rgba(255, 255, 255, 0.95);
    padding: 2rem;
    border-radius: 1rem;
    color: black;
    text-align: center;
    margin-bottom: 13rem;
}

.about-content h1 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.about-content p {
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.7rem;
    margin-bottom: 1rem;
}

.about-content h3 {
    color: #ee5007;
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 1.5rem;
}

.about-content button {
    background-color: #ee5007;
    color: white;
    padding: 0.8rem 1.5rem;
    border-radius: 2rem;
    border: none;
    font-weight: 500;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
}

.about-content button:hover {
    background-color: #c64105;
}
.festival-moment {
  position: relative;
  width: 100%;
  height: 400px;
  background: url('https://templatemo.com/templates/templatemo_583_festava_live/images/pexels-alexander-suhorucov-6457579.jpg') no-repeat center center/cover;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  border-radius: 12px;
  overflow: hidden;
}

.moment-overlay {
  background: rgba(255, 255, 255, 0.9);
  border-radius: 15px;
  padding: 20px 30px;
  text-align: left;
  width: 80%;
  max-width: 500px;
  margin-bottom: 30px;
  box-shadow: 0px 4px 12px rgba(0,0,0,0.1);
}

.moment-overlay .icon {
  background: #ffd633; 
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  margin-bottom: 15px;
}

.moment-overlay h2 {
  margin: 0;
  font-size: 22px;
  font-weight: bold;
  color: #000;
}

.moment-overlay p {
  margin: 5px 0 0;
  font-size: 14px;
  color: #555;
}

/* artist */
body{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}
.container{
    max-width: 69.375rem;
    margin-inline:  auto;
    padding: 1rem;
}
.artist{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}
.grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.5rem;  
}
.grid img{
    width: 100%;
    height: auto;
    display: block;
    border-radius: 1rem;

}
.other-images{
    height: 350px;
    width: 526px;
}
.small-image{
    height: 350px;
    margin-bottom: 50px;
    width: 526px;
}
.tall-image{
    width: 526px;
    height: 791px;
    grid-row: 1 / span 2;
}
.grid{
    margin-top: 20px;
}

.artist h1{
    color: rgb(0, 0, 0);
    font-size: 2.9rem;
    font-weight: 700;
    line-height: 2rem;
    
}
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.about-container {
    background-image: url("https://templatemo.com/templates/templatemo_583_festava_live/images/edward-unsplash-blur.jpg");
    background-size: cover;
    background-position: center;
    padding: 5rem 2rem;
}

.about-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    align-items: center;
    gap: 2rem;
    color: rgb(203, 194, 194);
    max-width: 1100px;
    margin: auto;
}

.about-images img {
    width: 100%;
    border-radius: 1.5rem;
    display: block;
    box-shadow: 0 4px 15px rgba(0,0,0,0.3);
}

.about-images .blog {
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
}

.about-images .blog .infor {
    background-color: rgba(255, 255, 255, 0.95);
    padding: 2rem;
    border-radius: 1rem;
    color: black;
    text-align: center;
    max-width: 1520px;
    padding: 2px;
}
.infor{
    margin: 3rem;
}
.about-content h1 {
    color: white;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.about-content p {
    font-size: 0.8rem;
    font-weight: 300;
    line-height: 1.7rem;
    margin-bottom: 1rem;
    margin-left: 0;
}

.about-content h3 {
    color: #ffffff;
    font-size: 1rem;
    font-weight: 700;
    margin-top: 1.5rem;
}  


body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #f0f6fc;
  margin: 0;
  padding: 0;
}


.schedule-section {
  background-image: url('https://templatemo.com/templates/templatemo_583_festava_live/images/nainoa-shizuru-unsplash-blur.jpg');
  background-color: #242424;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 60px 0;
}
h2, .text-white mb-4{
  margin-bottom: 30px;
  font-size: 100px;
  font-weight: 700;
}


.table-responsive {
  filter: drop-shadow(2px 2px 4px #606060);
  overflow-x: auto;
  max-width: 100%;
}

.schedule-table {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto; 
  border-collapse: collapse;
  border-radius: 12px;
  overflow: hidden;
  background-color: #1e1e1e;
  color: white;
}

.row,
.text-white.mb-4 {
  color: white;
  font-size: 30px;
  text-align: center;
}

.schedule-table thead th {
  background-color: orangered;
  color: white;
  padding: 20px;
  text-transform: uppercase;
  border-right: 1px solid #d85d14;
}

.schedule-table thead th:last-child {
  border-right: none;
}

.schedule-table th,
.schedule-table td {
  border-bottom: 1px solid #363a3e;
  padding: 30px;
  text-align: center;
  word-wrap: break-word;
}

.schedule-table tr:last-child th,
.schedule-table tr:last-child td {
  border-bottom: none;
  padding: 20px 15px;
}

.schedule-table .bg-warning {
  background: #f0a5a5;
}

.schedule-table .pop-background-image {
  background-image: url('https://templatemo.com/templates/templatemo_583_festava_live/images/artists/joecalih-UmTZqmMvQcw-unsplash.jpg');
}

.schedule-table .rock-background-image {
  background-image: url('https://templatemo.com/templates/templatemo_583_festava_live/images/artists/abstral-official-bdlMO9z5yco-unsplash.jpg');
}

.schedule-table .country-background-image {
  background-image: url('https://templatemo.com/templates/templatemo_583_festava_live/images/artists/soundtrap-rAT6FJ6wltE-unsplash.jpg');
}

.table-background-image-wrap {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

.schedule-table h3,
.schedule-table p {
  color: white;
  position: relative;
  z-index: 2;
  margin: 5px 0;
}

.section-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(10, 10, 10, 0.6);
  z-index: 1;
}


/* pricing */
body {
    background-color: #f0f8ff;
    margin: 0;
    padding: 0px;
    font-family: Arial, sans-serif;
}

.container {
    width: 100%;
    max-width: 1110px;
    margin: 0 auto;
    padding: 20px 0;
}

h6 {
    text-align: center;
    font-size: 2.5rem;
    margin-top: 80px;
    font-weight: bolder;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
}

.main, .main2 {
    border: 4px dotted rgb(10, 10, 10);
    border-radius: 10px;
    padding: 20px;
    position: relative;
}

.dis {
    font-size: 20px;
    background-color: #EE5007;
    border-radius: 50%;
    color: white;
    font-weight: 600;
    text-align: center;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 20px;
    right: 30px;
    margin: 0;
}

/* Pricing Content */
p, h3 {
    font-weight: bolder;
    padding-left: 10px;
    font-size: 1.5rem;
    margin-top: 20px;
}

.price-1 {
    font-size: 2rem;
    font-weight: 700;
    color: black;
    margin-left: 10px;
}

.span-1, .span-2 {
    color: #717275;
    margin-left: 10px;
    margin-bottom: 20px;
    display: block;
}

.ul-1, .ul-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px 20px;
    padding-left: 20px;
    list-style: disc;
    color: #717275;
    margin: 20px 0;
}

.ul-1 li, .ul-2 li {
    margin-bottom: 10px;
}

.hack-1 {
    margin-left: 0;
}

.hack-2, .hack-3 {
    margin-left: 0;
}
.Ticket {
    list-style: none;
    padding: 0;
    margin: 20px  20px;
}

.Ticket-1 {
    text-decoration: none;
    color: orange;
    font-weight: bold;
    border-bottom: 2px solid transparent;
    transition: border-color 0.3s;
}

.Ticket-1:hover {
    border-bottom: 2px solid orange;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #fff;
    color: #000;
    padding: 0;
}

 h2 {
    font-size: 300px;
    font-weight: 700;
}

.contact-section {
    text-align: center;
    padding: 60px 20px;
}
.contact-section h2 {
    font-size: 1.8rem;
    font-weight: bold;
}
#formBtn, #mapBtn{
    color: #F8CB2E;
}
.toggle-buttons {
    display: inline-flex;
    background: #f0f8ff;
    border-radius: 30px;
    padding: 15px;
    margin: 20px 0;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}
.toggle-buttons button {
    border: none;
    background: none;
    padding: 10px 20px;
    border-radius: 25px;
    font-size: 20px;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.3s;
}
.toggle-buttons button.active {
    color: rgb(0, 0, 0);
    size: 100px;
    background: #ffffff;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.contact-form {
    max-width: 800px;
    max-height: 800px;
    margin: auto;
    background: #fff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}
.contact-form .form-row {
    display: flex;
    gap: 10px;
}
.contact-form input, 
.contact-form textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
}
.contact-form textarea {
    resize: none;
    height: 100px;
}
.contact-form button {
    background: #f4511e;
    color: #fff;
    font-size: 20px;
    border:none;
    padding: 10px 30px;
    border-radius: 25px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}
.contact-form button:hover {
    background: #d84315;
}

.map-container {
    max-width: 600px;
    margin: auto;
    border-radius: 12px;
    overflow: visible;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}
.footer-column, .footer-links{
  font-size: 20px;
}
.footer-top {
  background: #f4511e;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 80px;
}

.footer-top h2 {
  margin: 0;
  font-size: 28px;
  font-weight: bold;
}

.footer-social {
  display: flex;
  gap: 15px;
}

.footer-social a {
  color: #fff;
  font-size: 18px;
  transition: 0.3s;
}

.footer-social a:hover {
  color: #ffd700;
}
.footer-bottom {
  background: #000;
  color: #fff;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 40px 80px;
  gap: 30px;
}

.footer-bottom h4 {
  color: #ffd700;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
}

.footer-links a {
  display: inline-block;
  margin-right: 15px;
  color: #fff;
  text-decoration: none;
  font-size: 15px;
}

.footer-links a:hover {
  text-decoration: underline;
}

.footer-contact p,
.footer-location p {
  margin: 5px 0;
  font-size: 15px;
  color: #ccc;
}

.map-link {
  display: inline-block;
  margin-top: 10px;
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid #fff;
  padding-bottom: 3px;
  transition: 0.3s;
}

.map-link:hover {
  color: #ffd700;
  border-bottom: 1px solid #ffd700;
}

.copyright {
    background: #000;
    color: #ccc;
      padding: 50px;
    font-size: 15px;
    border-top: 1px solid #222;
    font-size: 15px;
    margin-left: 0;
    margin-right: 0;
}
.copyright a{
    margin-left: 10px;
    text-decoration: none;
    color: white;
}
.copyright a:hover{
  text-decoration: none ;
  color: #d84315;
}




