body{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}
.container{
    max-width: 69.375rem;
    margin-inline:  auto;
    padding: 1rem;
}
.artist{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}
.grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.5rem;  
}
.grid img{
    width: 100%;
    height: auto;
    display: block;
    border-radius: 1rem;

}
.other-images{
    height: 350px;
    width: 526px;
}
.small-image{
    height: 350px;
    margin-bottom: 50px;
    width: 526px;
}
.tall-image{
    width: 526px;
    height: 791px;
    grid-row: 1 / span 2;
}


.artist h1{
    color: rgb(0, 0, 0);
    font-size: 2.9rem;
    font-weight: 700;
    line-height: 2rem;
    
}